/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

/* DEFAULTS */
body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
    background-color: #fff;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
header, footer, section, article, nav {
    display: block;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Color */
.yellow {
   color:  #F6E400
}
.black {
    color: #000;
}
.white {
    color: #fff;
}
.gray {
    color: #d1d1d1;
}
.yellow-bg {
    background-color:  #F6E400
}
.black-bg {
    background-color: #000;
}
.white-bg {
    background-color: #fff;
}
.gray-bg {
    background-color: #d1d1d1;
}

/* Theme */
#theme.dark {
    color: #fff;
    /* background-color: #000; */
    background-color: #28272D;
}
#theme.dark .btn {
    /* background-color: #fff; */
}
#theme.dark .switch {
    color: #fff;
    /* background-color: #000; */
    background-color: #28272D;
    border: 0px;
}
#theme.dark .line {
    /* background-color: #fff; */
}

#theme.dark .graph-bar {
    border-top: 2px solid rgba(255,255,255, 0.7);
}

/* Font */
.h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.h3 {
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.h4 {
    font-size: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.t1 {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.t2 {
}
.t3 {
    font-family: sans-serif;
    font-size: 17px;
    line-spacing: 26px;
    line-height: 22px;
}
.t4 {
    font-family: sans-serif;
    font-size: 14px;
    line-spacing: 26px;
    line-height: 18px;
}
.t5 {
    font-family: sans-serif;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

/* Buttons */

.switch {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0 15px 0 15px;
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.switch:hover {
    /* color: #fff; */
    /* background-color: #000; */
    background-color: #EFEFEF;
    box-shadow: 0px 0px 2px 1px rgba(0, 2, 10, 0);
    cursor: pointer;
}
.switch .text {
    display: inline-block;
    vertical-align: middle;
}
.indicator {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.indicator.on {
    background-color: #40FF70;
}
.indicator.off {
    background-color: #FF495F;
}




/* Links */
.a {
    font-family: serif;
    font-size: 12px;
    /* letter-spacing: 1.5; */
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}
.u {
    position: relative;
    text-decoration: none;
    line-height: 40px;
}
.u:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.u:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.pipe {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 40px;
    margin: 0 23px;
    background-color: #d1d1d1;
}
.line {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    /* background-color: #d1d1d1; */
    background-color: rgba(0,0,0, 0.4);
}



/* Connection Screen */
.devices {
    width: 100%;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
.connection-screen {
    float: left;
    width: 50%;
}




/* Data Screen */
.data-screen {
    width: 100%;
}
.data-tile {
    float: left;
    width: 33.3333%;
    padding: 10px;
    text-align: center;
}
.tile-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.data-tile-small {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}



/* Control Screen */
.control-screen {
    padding: 10px 0;
    text-align: center;
}
.watch {
    margin: 10px 0 14px;
}
.control-point {
}
.control-point .tile {
    display: inline-block;
    vertical-align: middle;
}
.watch .btn {
    margin: 0px 2px;
}
.control-point .tile input {
    display: block;
    margin: 5px 2px;
}
.control-point .tile .btn {
    display: block;
    margin: 3px auto;
    width: 105px;
}
#dark-mode {
    display: inline-block;
    margin: 20px auto 20px;
    width: 105px;
}

.btn {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    font-family: sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;

    /* color: #000; */
    /* background-color: #EFEFEF; */
    /* border: 0px solid #000; */

    color: #fff;
    background-color: #0f0f0f;
    border: 1px solid #000;

    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.btn:hover {
    /* background-color: #EFEFEF; */
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.file-btn {
    position: relative;
    height: 30px;
    margin: 0px auto 20px;
}
.label-btn {
    position: absolute;
    width: 120px;
    z-index: 1;
}
.native-btn {
    position: relative;
    margin-left: 32px;
    /* margin-top: 4px; */
    line-height: 27px;
    height: 30px;
    z-index: 0;
    /* border: 1px solid #EFEFEF; */
    border: 1px solid #000;
}
#start-work-interval {
    padding: 0;
}
#watch-start {
    min-width: 71px;
}

.input {
    width: 105px;
    height: 30px;
    text-align: center;
    border: 1px solid #d1d1d1;
}
.laps {
    margin: 20px auto;
}
.laps .heading {
    text-align: center;
}
.laps .list {
}

.laps .heading div {
    display: inline-block;
    width: 100px;
    text-align: left;
}
.laps .list div {
    display: inline-block;
    width: 100px;
    text-align: left;
}




/* Graph */
.graph-screen {
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
}
.graph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    height: 100px;
    left: 0px;
    bottom: 0px;
    padding: 0;
}
.graph-heading {
    text-align: center;
}
.ftp-line {
    position: absolute;
    bottom: 52%;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.ftp {
    position: absolute;
    top: -16px;
    right: 10px;
    color: #d1d1d1;
}
.graph-bar {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 100px;
    /* border-top: 2px solid rgba(0,0,0, 0.1);; */
}

.gray-zone {
    background-color: #636468;
}
.blue-zone {
    background-color: #328AFF;
}
.green-zone {
    background-color: #57C057;
}
.yellow-zone {
    background-color: #F8C73A;
}
.orange-zone {
    background-color: #FF663A;
}
.red-zone {
    background-color: #FE340B;
}

.workouts .h2 {
    margin: 10px auto;
}
.buildin-workouts {}
.workouts .list-item .first-row {
    display: flex;
    flex-diretion: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;

    /* font-weight: bold; */
}
.workout {
    padding: 0 5px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0, 0.4);
}
.workout .first-row {
    cursor: pointer;
}
.workout .name {
    min-width: 200px;
    padding-right: 8px;
}
.workout .type {
    min-width: 120px;
    font-weight: bold;
}
.workout  .time {
    width: 80px;
}
.workouts .list-item .select {
}

.workout .desc {
    display: none;
    /* display: block; */
    padding: 10px;
}
.workout .desc .content {
    text-align: left;
    max-width: 470px;
    margin: 0 auto;
}

@media all and (min-width: 1800px) {
}
@media all and (min-width: 1600px) {
}
@media all and (max-width: 1250px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 600px) {
}
@media all and (max-width: 414px) {
    /* IPHONE X */
    .t1 {
        font-size: 32px;
    }
    .t2 {
        font-size: 20px;
    }
    .t3 {
        font-size: 16px;
    }
    .h2 {
        font-size: 10px;
    }
    .h3 {
        font-size: 10px;
    }
    .h4 {
        font-size: 10px;
    }
    .watch {
        margin: 10px 0 14px;
    }
    .devices {
        padding: 10px 10px 10px 10px;
    }

    .workout .name {
        min-width: 140px;
    }
    .workout .type {
        min-width: 80px;
    }
    .workout .time {
        width: 55px;
    }
}
@media all and (max-width: 360px) {
    /* Galaxy S (Older)*/
}
@media all and (max-width: 350px) {
    /* IPhone 5 */
    /* Low-end Android */
    .btn {
        padding: 0 12px;
    }
    .connect {
        padding: 0 10px 0 10px;
    }
    .input {
        width: 95px;
    }
    .control-point .tile .btn {
        width: 95px;
    }
    #dark-mode {
        width: 95px;
    }
}

/* Mobile Device Specific Queries */

/* Portrait and Landscape Tablets */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad 1, 2, Mini, Air */
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 3, 4, Pro 9.7 inch */
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 10.5 inch */
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 12.9 inch */
}

/* Portrait and Landscape Phones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 869px) {
}

/* Landscape Phones */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 869px)
and (orientation: landscape) {
    /* iPhone 5, 6, 6S, 7, 8 */
    /* iPhone 6+, 7+, 8+ */
    /* iPhone X */
    /* Galaxy S6-10 */
}
.connection-screen {
    /* visibility: hidden; */
}
.data-screen {
    /* visibility: hidden; */
}
.laps {
    visibility: hidden;
}
