/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

/* DEFAULTS */
body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
}

header, footer, section, article, nav {
    display: block;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Variables */
body {

    /* Color */
    --black:       #000;
    --white:       #fff;
    --gray:        #aaa;
    --green:       #40FF70;
    --red:         #FF495F;
    --yellow:      #F8C73A;
    --dark:        #28272D;
    --chrome:      #35363a;
    --zone-gray:   #636468;
    --zone-blue:   #328AFF;
    --zone-green:  #57C057;
    --zone-yellow: #F8C73A;
    --zone-orange: #FF663A;
    --zone-red:    #FE340B;
    --black-opacity-01:  rgba(0,0,0, 0.1);
    --white-opacity-01:  rgba(255,255,255, 0.1);
}

/* Color */
.gray-zone {
    background-color: var(--zone-gray);
}
.blue-zone {
    background-color: var(--zone-blue);
}
.green-zone {
    background-color: var(--zone-green);
}
.yellow-zone {
    background-color: var(--zone-yellow);
}
.orange-zone {
    background-color: var(--zone-orange);
}
.red-zone {
    background-color: var(--zone-red);
}

.black {
    color: var(--black);
}
.white {
    color: var(--white);
}
.gray {
    color: var(--gray);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.green {
    color: var(--green)
}

.black-bg {
    background-color: var(--black);
}
.white-bg {
    background-color: var(--white);
}
.gray-bg {
    background-color: var(--gray);
}
.yellow-bg {
    background-color: var(--yellow);
}
.red-bg {
    background-color: var(--red);
}
.green-bg {
    background-color: var(--green);
}


.gray-zone {
    background-color: var(--zone-gray);
}
.blue-zone {
    background-color: var(--zone-blue);
}
.green-zone {
    background-color: var(--zone-green);
}
.yellow-zone {
    background-color: var(--zone-yellow);
}
.orange-zone {
    background-color: var(--zone-orange);
}
.red-zone {
    background-color: var(--zone-red);
}

.chrome-bg {
    background-color: var(--chrome)
}
.dark-bg {
    background-color: var(--dark);
}


/* Theme */


/* Page */
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-content: center;
    overflow-x: hidden;
}
.page {
    width: 100%;
    min-height: 110vh;
    padding-bottom: 80px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
#home-page {
    z-index: 1;
}
#workouts-page {
    display: none;
}
#settings-page {
    display: none;
}


/* Page Header */
.page-header {
    width: 100%;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
#workouts-page .page-header {
    margin-bottom: 40px;
}
.page-header h2 {
    height: 30px;
    line-height: 30px;
}


/* Tab Menu */
.menu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    z-index: 2;
}
.menu-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    z-index: 2;
}
.menu-cont.active {
    border-top: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 1px 2px 2px 3px rgba(0,0,0, 0.1);
}
.tab-btn {
    flex-grow: 1;
    height: 40px;
}
.icon-btn  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-btn .icon {
    display: block;
    width: 16px;
    height: 16px;
    fill: var(--gray);
}
.icon-btn .text {
    color: var(--gray);
}
.tab-btn.active .text {
    color: var(--white);
}
.tab-btn.active .icon-fill {
    fill: var(--white);
}



/* Font */
.wrapper {
    font-family: sans-serif;
}
.h1 {
    font-size: 24px;
    text-transform: uppercase;
}
.h2 {
    font-size: 18px;
    text-transform: uppercase;
}
.h3 {
    font-size: 12px;
    text-transform: uppercase;
}
.h4 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.t1 {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}
.t2 {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.t3 {
    font-size: 17px;
    line-spacing: 26px;
    line-height: 22px;
}
.t4 { /* tab text, workout list, */
    font-size: 9px;
    /* font-size: 10px; */
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.t5 { /* workout desc, */
    font-size: 14px;
    font-weight: bold;
    /* letter-spacing: 1px; */
}
.t6 { /* workout first-row, */
    font-size: 14px;
}

.a {
    color: #121212;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.h1, .h2, .h3, h4, .h5, .t1, .t2, .t3, .t4, .t5, .t6, .a, .text {
    -webkit-user-select: none;
    user-select: none;
}


/* Buttons */
.devices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 1px 1px 0px var(--black-opacity-01);
    border-bottom: 1px solid var(--white-opacity-01);
}
.switch {
    display: flex;
    align-items: center;
    align-content: center;
    height: 30px;
    padding: 0 15px 0 15px;
}
.switch:hover {
    cursor: pointer;
}
.indicator {
    margin: 0px 10px 0px 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.indicator.on {
    background-color: var(--green);
}
.indicator.off {
    background-color: var(--red);
}

.line {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--white-opacity-01);
}



/* Connection Screen */
.connection-screen {
}


/* Data Screen */
.data-screen {
    width: 100%;
}
.data-tile {
    float: left;
    width: 33.3333%;
    padding: 10px;
    text-align: center;
}
.tile-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.data-tile-small {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}



/* Control Screen */
.control-screen {
    position: fixed;
    bottom: 40px;
    left: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--white-opacity-01);
    z-index: 2;
}
.watch {
    padding: 5px 0 5px;
    /* height: 30px; */
    width: 100%;
    text-align: right;
}
#workout-name {
    display: block;
    margin: 0 8px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}
.control-btn {
    display: inline-block;
    margin: 0px 8px;
}
.control-icon {
    fill: #fff;
}
.control-point .tile {
    display: inline-block;
    vertical-align: middle;
}
.mode-selector {
    /* display: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin: 10px auto;

    font-family: sans-serif;
    font-size: 10px;
    text-transform: uppercase;

    height: 40px;
    /* border: 1px solid rgba(255,255,255, 0.1); */
}
.mode {
    padding: 0px 20px;
    /* border: 1px solid rgba(255,255,255, 0.1); */
    color: #aaa;
}
.mode.active {
    color: #fff;
    /* border-bottom: 1px solid rgba(255,255,255, 0.9); */
}
.watch .btn {
    margin: 0px 2px;
}
.control-point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.control-point .tile {
}
.control-point .tile input {
    display: block;
    margin: 5px 2px;
}
.control-point .tile .btn {
    display: block;
    margin: 3px auto;
    width: 105px;
}
#dark-mode {
    display: inline-block;
    margin: 20px auto 20px;
    width: 105px;
}

.btn {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    font-family: sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;

    color: #fff;
    /* background-color: var(--white-opacity-01); */
    background-color: var(--chrome);
    border: 1px solid var(--white-opacity-01);

    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.btn:hover {
    /* color: #000; */
    /* background-color: var(--white-opacity-01); */
    /* background-color: rgba(255,255,255, 0.4); */
    cursor: pointer;
}

.file-btn {
    position: relative;
    height: 30px;
    margin: 0px auto 20px;
    color: (--gray);
}
.file-btn-native {
    position: relative;
    margin-left: 32px;
    line-height: 27px;
    height: 30px;
    z-index: 0;
    border: 1px solid var(--dark);
}
.file-btn-label {
    position: absolute;
    width: 120px;
    z-index: 1;
}

.input {
    width: 105px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--white);
}


/* Workouts Screen */
.workouts-list {
    text-align: center;
}
#start-work-interval {
    padding: 0;
}


/* Graph */
.graph-screen {
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
}
.graph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    height: 100px;
    left: 0px;
    bottom: 0px;
    padding: 0;
}
.graph-interval {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100px;
    padding: 0;
}
.graph-heading {
    text-align: center;
}
.ftp-line {
    position: absolute;
    /* bottom: 52%; */
    width: 100%;
    height: 1px;
    /* background-color: var(--gray); */
}
.ftp {
    position: absolute;
    top: -16px;
    right: 10px;
    /* color: var(--yellow); */
}
.graph-bar {
    position: relative;
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    width: 1px;
    height: 100px;
}
.graph-bar-workout {
    margin: 0;
    padding: 0;
    /* width: 1px; */
    /* height: 100px; */
    /* border-top: 2px solid rgba(0,0,0, 0.1);; */
}
.graph-info {
    display: none;
    position: absolute;
    top: -25px;
    padding: 0px 10px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 2px;
    z-index: 1;
}

.graph-bar:hover .graph-info {
    display: block;
}

.workout-graph-cont {
    position: relative;
}
.workout-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 110px;
    padding: 0;
}
#progress {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 0px;
    /* height: 122px; */
    height: 102px;
    background-color: rgba(0,0,0, .3);
}
#progress-active {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 102px;
    background-color: rgba(255,255,255, .3);
    z-index: 1;
}

.workouts-list .h2 {
    margin: 10px auto;
}
.workout-settings {
    max-width: 470px;
    margin: 30px auto 30px;
}
.workout-settings .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.workout-settings .row .label {
    line-height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}
.workout-settings .row button {
    width: 105px;
}
.workouts-list .list-item .first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;

    /* font-weight: bold; */
}
.workout {
    padding: 0 5px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--white-opacity-01);
}
.workout .first-row {
    cursor: pointer;
}
.workout .name {
    min-width: 200px;
    padding-right: 8px;
}
.workout .type {
    min-width: 120px;
    font-weight: bold;
}
.workout  .time {
    width: 80px;
    color: var(--gray);
}

.workout .radio {
    display: block;
    margin: 8px auto 8px 10px;
}
.workout .desc {
    display: none;
    padding: 10px;
}
.workout:first-child .desc{
    display: block;
}

.workout .desc .workout-graph {
    margin: 0 auto 20px auto;
    max-width: 480px;
}
.workout .desc .content {
    text-align: left;
    max-width: 470px;
    margin: 0 auto;
}


/* Settings Page */
.settings-tiles {
    display: flex;
}
.settings-tile {
    width: 120px;
    height: 120px;
    padding: 5px 5px;
    margin: 10px auto;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--white-opacity-01);
}
#ftp-settings {
    /* border: 1px solid var(--red); */
    /* border: 1px solid var(--green); */
    /* border: 1px solid var(--yellow); */
}
.settings-tile-label {
    display: block;
    margin: 9px auto 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.settings-tile-input {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--dark);
    border: none;
}
#ftp-settings .settings-tile-input {
    color: var(--yellow);
}
.settings-tile-btn {
    margin: 5px auto;
    height: 30px;
    padding: 0 14px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    /* background-color: var(--white-opacity-01); */
    /* background-color: var(--chrome); */
    /* border: 1px solid var(--white-opacity-01); */
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.settings-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 120px;
    padding: 5px 5px;
    margin: 10px 10px;
    text-align: center;
    border: 1px solid var(--white-opacity-01);
}
.settings-card .switch {
    align-self: center;
}
@media all and (min-width: 1800px) {
}
@media all and (min-width: 1600px) {
}
@media all and (max-width: 1250px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 600px) {
}
@media all and (max-width: 414px) {
    /* IPHONE X */
    .t1 {
        font-size: 32px;
    }
    .t2 {
        /* font-size: 20px; */
    }
    .t3 {
        font-size: 16px;
    }
    .h2 {
        font-size: 10px;
    }
    .h3 {
        font-size: 10px;
    }
    .h4 {
        font-size: 10px;
    }

    .control-screen {
        height: 40px;
    }
    .watch {
        /* margin: 10px 0 14px; */
        padding: 9px 5px;
    }
    .devices {
        padding: 10px 10px 10px 10px;
    }
    .page-header {
        /* padding: 10px 10px 10px 10px; */
    }

    .workout .name {
        min-width: 140px;
    }
    .workout .type {
        min-width: 80px;
    }
    .workout .time {
        width: 55px;
    }

    .native-btn {
        margin-left: 35px;
    }

    /* swipe page navigation */
    /* .wrapper { */
    /*     display: grid; */
    /*     grid-template-columns: repeat(3, 100%); */
    /*     overflow-x: auto; */
    /*     overflow-y: scroll; */
    /*     will-change: transform; */
    /*     overflow-x: auto; */
    /*     scroll-snap-coordinate: 0 0; */
    /*     scroll-snap-points-x: repeat(100%); */
    /*     scroll-snap-type: x mandatory; */
    /*     -webkit-overflow-scrolling: touch; */
    /*     height: vh; */
    /* } */
    /* .page { */
    /*     scroll-snap-align: start; */
    /* } */
    /* .menu { */
    /*     visibility: hidden; */
    /* } */
    /* #settings-page, #workouts-page { */
    /*     display: block; */
    /* } */
}
@media all and (max-width: 360px) {
    /* Galaxy S (Older)*/
}
@media all and (max-width: 350px) {
    /* IPhone 5 */
    /* Low-end Android */
    .btn {
        padding: 0 12px;
    }
    .connect {
        padding: 0 10px 0 10px;
    }
    .input {
        width: 95px;
    }
    .control-point .tile .btn {
        width: 95px;
    }
    #dark-mode {
        width: 95px;
    }
}

/* Mobile Device Specific Queries */

/* Portrait and Landscape Tablets */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad 1, 2, Mini, Air */
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 3, 4, Pro 9.7 inch */
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 10.5 inch */
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 12.9 inch */
}

/* Portrait and Landscape Phones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 869px) {
}

/* Landscape Phones */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 869px)
and (orientation: landscape) {
    /* iPhone 5, 6, 6S, 7, 8 */
    /* iPhone 6+, 7+, 8+ */
    /* iPhone X */
    /* Galaxy S6-10 */
}
.connection-screen {
    /* visibility: hidden; */
}
.data-screen {
    /* visibility: hidden; */
}
.laps {
    visibility: hidden;
}
