/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* DEFAULTS */
html {
    font-size: 10px;
    text-align: center;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
}

header, footer, section, article, nav {
    display: block;
}

.h1, .h2, .h3, h4, .h5, .t1, .t2, .t3, .t4, .t5, .t6, .a, .text, button, .btn, input, svg, a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.a {
    color: #bbb;
    text-transform: uppercase;
    cursor: pointer;
}

input, button {
    font-family: var(--ssr-font-family);
}

.btn {
    color: #fff;
    background-color: var(--chrome);
    text-transform: uppercase;
    font-family: var(--ss-font-family);

    border: 1px solid var(--white-opacity-01);
    border-radius: 3px;
    webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.btn:hover {
    background-color: #777;
    cursor: pointer;
}

.flat-btn {
    background-color: transparent;
    border: none;
    color: #fff;
}

.request-btn {
    padding: 5px 10px;

    color: #fff;
    background-color: var(--chrome);
    font-family: var(--ss-font-family);

    border: 1px solid var(--white-opacity-01);
    border-radius: 3px;
    webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.file-btn {
    position: relative;
    height: 30px;
    margin: 0px auto 20px;
    color: var(--gray);
}

.file-btn-native {
    position: relative;
    margin-left: 32px;
    line-height: 27px;
    height: 30px;
    z-index: 0;
    border: 1px solid var(--dark);
}

.file-btn-label {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    font-family: sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--chrome);
    border-radius: 3px;

    position: absolute;
    width: 120px;
    z-index: 1;
}

.line {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--white-opacity-01);
}



/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Variables */
:root {
    --ssb-font-family: 'Roboto', sans-serif;
    --ssr-font-family: 'Roboto', sans-serif;
}

body {

    /* Color */
    --black:       #000;
    --white:       #fff;
    --gray:        #aaa;
    --green:       #40FF70;
    --red:         #FF495F;
    --yellow:      #F8C73A;
    --dark:        #28272D;
    --chrome:      #35363a;

    --zone-red:    #FE340B;
    --zone-orange: #FF663A;
    --zone-yellow: #F8C73A;
    --zone-green:  #57C057;
    --zone-teal:   #bffff9;
    --zone-blue:   #328AFF;
    --zone-gray:   #636468;

    --orange-logo: #FC4C02;
    --white-gray:  #F7F7FA;
    --red-logo:    #E50914;

    --black-opacity-01:  rgba(0,0,0, 0.1);
    --black-opacity-02:  rgba(0,0,0, 0.2);
    --white-opacity-01:  rgba(255,255,255, 0.1);
    --white-opacity-03:  rgba(255,255,255, 0.3);
}

/* Color */
.zone-one {
    background-color: var(--zone-gray);
}
.zone-two {
    background-color: var(--zone-blue);
}
.zone-three {
    background-color: var(--zone-gray);
}
.zone-four {
    background-color: var(--zone-green);
}
.zone-five {
    background-color: var(--zone-yellow);
}
.zone-six {
    background-color: var(--zone-orange);
}
.zone-seven {
    background-color: var(--zone-red);
}


.black {
    color: var(--black);
}
.white {
    color: var(--white);
}
.gray {
    color: var(--gray);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.green {
    color: var(--green)
}

.black-bg {
    background-color: var(--black);
}
.white-bg {
    background-color: var(--white);
}
.gray-bg {
    background-color: var(--gray);
}
.yellow-bg {
    background-color: var(--yellow);
}
.red-bg {
    background-color: var(--red);
}
.green-bg {
    background-color: var(--green);
}


.gray-zone {
    background-color: var(--zone-gray);
}
.blue-zone {
    background-color: var(--zone-blue);
}
.green-zone {
    background-color: var(--zone-green);
}
.yellow-zone {
    background-color: var(--zone-yellow);
}
.orange-zone {
    background-color: var(--zone-orange);
}
.red-zone {
    background-color: var(--zone-red);
}
.purple-zone {
    background-color: var(--zone-red);
}

.chrome-bg {
    background-color: var(--chrome)
}
.dark-bg {
    background-color: var(--dark);
}



/* Theme */
/* Dark Theme */
body.dark-theme {
    color: var(--white);
    background-color: var(--dark);
}
.dark-theme .switch-connections {
    background-color: var(--chrome);
}

.dark-theme .controls {
    background-color: var(--dark);
}
.dark-theme .menu-cont {
    background-color: var(--dark);
}
.dark-theme #progress-active {
    background-color: var(--white-opacity-03);
}
.dark-theme .radio {
    fill: var(--white);
}
.dark-theme .workout {
    border-bottom: 1px solid var(--white-opacity-01);
}
.dark-theme .mode.active {
    color: #fff;
}

.icon-btn .icon {
    fill: var(--gray);
}
.icon-btn .text {
    color: var(--gray);
}
.tab-btn.active .text {
    color: var(--white);
}
.tab-btn.active .icon-fill {
    fill: var(--white);
}
.control-icon {
    fill: #fff;
}

.hide {
    visibility: hidden;
}


/* Page */
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-content: center;
    overflow-x: hidden;

    font-family: var(--ssr-font-family);
}
.page {
    width: 100%;
    min-height: 110vh;
    padding-bottom: 120px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.page--header {
    width: 100%;
}

.page--heading {
    font-size: 1.1em;
    text-transform: uppercase;
    line-height: 4em;
    text-align: center;
    letter-spacing: 1px;
}

#workouts-page .page--header {
    margin-bottom: 40px;
}

/* HOME PAGE */
#home-page {
    min-height: 100vh;
    padding: 0;
    z-index: 1;
}

#home-page-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 2.5fr 1fr 1fr 88px 100px;
    height: 100vh;
}

/* Switch btn */
.switch-connections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    grid-row: 1;
}

.switch {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1rem;
    height: 3em;
    padding: 0 15px;
}

.switch:hover {
    cursor: pointer;
}

.switch--indicator {
    margin: 0px 1em 0px 0px;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}

.switch--indicator.on {
    background-color: var(--green);
}

.switch--indicator.loading {
    background-color: var(--yellow);
}

.switch--indicator.off {
    background-color: var(--red);
}

.switch--label {
    font-size: 1.1em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Data Tiles */
.data-tiles {
    grid-row: 2;

    font-size: 1rem;
    --data-tile--heading-font-size: 1.0em;
    --data-tile--value-font-size: 3.2em;
    --data-tile--unit-font-size: 1em;

    --data-tile-small--heading-font-size: 1.0em;
    --data-tile-small--value-font-size: 3em;
    --data-tile-small--unit-font-size: 0.6em;

    --data-tile--heading-margin: 0 auto 1em;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#data-tile--power-avg {
    display: none;
}
#data-tile--power {
    grid-area: 1 / 1 / 1 / 3;
}
#data-tile--interval-time {
    grid-area: 1 / 3 / 1 / 5;
}
#data-tile--heart-rate {
    grid-area: 1 / 5 / 1 / 7;
}
#data-tile--slope {
    display: none;
}
#data-tile--target {
    grid-area: 2 / 1 / 2 / 3;
}
#data-tile--elapsed-time {
    grid-area: 2 / 3 / 2 / 5;
}
#data-tile--cadence {
    grid-area: 2 / 5 / 2 / 7;
}
#data-tile--speed {
    grid-area: 3 / 1 / 3 / 4;
}
#data-tile--distance {
    grid-area: 3 / 4 / 3 / 7;
}

.data-tile-small--unit {
    display: none;
}

.data-tile--heading {
    font-size: var(--data-tile--heading-font-size);
    margin: var(--data-tile--heading-margin);
    font-family: var(--ssr-font-family);
    text-transform: uppercase;
}

.data-tile--value {
    font-size: var(--data-tile--value-font-size);
    line-height: 1em;
    font-family: var(--ssb-font-family);
    font-weight: bold;
}

.data-tile-small--heading {
    margin: var(--data-tile--heading-margin);
    font-size: var(--data-tile-small--heading-font-size);
    text-transform: uppercase;
}

.data-tile-small--value {
    font-size: var(--data-tile-small--value-font-size);
    font-weight: bold;
    line-height: 1em;
}

.data-tile-small--unit {
    font-size: var(--data-tile-small--unit-font-size);
    font-weight: bold;
}

/* Graphs */
.graph {
    font-size: 1rem;
    --graph-total-height: 100%;
    --graph-height: 90%;
    --graph-heading-height: 10%;

    position: relative;
    height: var(--graph-total-height);
    width: 100%;
    overflow: hidden;
}
.graph--bar-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: var(--graph-height);
    height: 8em;
    /* min-height: 100%; */
    padding: 0;
}
.graph--heading {
    font-family: var(--ssb-font-family);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    height: var(--graph-heading-height);
}
.graph--cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: var(--graph-height);
    left: 0px;
    bottom: 0px;
    padding: 0;
    /* min-height: 40px; */
}
.graph--bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 1px;
}
.graph--info {
    display: none;
    position: absolute;
    top: -25px;
    padding: 0px 10px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 2px;
    z-index: 1;
}
.graph--bar:hover .graph--info {
    display: block;
}
.graph--info--power {}
.graph--info--power span {}
.graph--info--time {
    color: var(--gray);
}

.workout--graph-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    height: var(--graph-height);
    padding: 0;
}

#progress {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: var(--graph-height);
}
#progress-active {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: var(--graph-height);
    z-index: 1;
}



/* Targets */
#targets {
    font-size: 1rem;
    padding: 0 1em;
    --inner-max-width: 300px;
    --mode-selector-margin: 1.4em auto;
    --mode-selector-padding: 0 4.8em;

    --number-input-height: 3rem;
    --number-input-total-width: 100%;

    --number-input-value-width: 40%;
    --number-input-width: 30%;

    --number-input-font-size: 1.2em;
    --number-input-value-font-size: 1.4em;
}
.targets--cont {
    margin: 0 auto;
    max-width: var(--inner-max-width);
}

/* Number btn*/
.number-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-input--value, .number-input--inc, .number-input--dec {
    height: var(--number-input-height);
}

.number-input--value {
    width: var(--number-input-value-width);
    line-height: var(--number-input-line-height);
    font-size: var(--number-input-value-font-size);
    text-align: center;
    border: 1px solid var(--white-opacity-01);
}

.number-input--btn {
    font-size: var(--number-input-font-size);
    width: var(--number-input-width);
    text-align: center;
}

.number-input--inc {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.number-input--dec {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mode-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: var(--mode-selector-margin);
    font-size: 1em;
    text-transform: uppercase;
}

.mode {
    padding: var(--mode-selector-padding);
    color: var(--gray);
    cursor: pointer;
}

.mode.active {
    font-weight: bold;
}

/* App Menu */
.fixed-bottom {
    font-size: 1rem;

    --controls-height: 5em;
    --menu-height: 5em;
    --fb-total-height: 10em;

    position: fixed;
    bottom: 0px;
    width: 100%;
    height: var(--fb-total-height);
    background-color: var(--dark);
    z-index: 3;
}

.menu {
    height: var(--menu-height);
}

.controls {
    height: var(--controls-height);
    width: 100%;
    border-top: 1px solid var(--white-opacity-01);
    z-index: 1;
}

.menu--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    wrap: wrap;
    height: 100%;
    z-index: 1;
}

.menu--btn {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.menu--btn--icon {
    display: block;
    width: 1.6em;
    height: 1.6em;
    fill: var(--gray);
}

.menu--btn--label {
    font-size: 1em;
    line-height: 1.4em;
    letter-spacing: 1px;
    color: var(--gray);
}

.menu--btn--icon--fill {
    fill: var(--gray);
}

.menu--btn.active .menu--btn--label {
    color: var(--white);
}

.menu--btn.active .menu--btn--icon--fill {
    fill: var(--white);
}

.watch {
    display: block;
    padding: 5px 0 5px;
    width: 100%;
    text-align: right;
}

.watch .btn {
    margin: 0px 2px;
}

.control--btn {
    display: inline-block;
    margin: 0px 8px;
}

.control--btn--icon {
    fill: #fff;
    cursor: pointer;
}

#workout-name {
    font-size: 1.2em;
    font-family: var(--ssb-font-family);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    display: block;
    margin: 0 0.8em;
    float: left;
}

#watch-pause, #watch-lap, #watch-stop, #activity-save {
    display: none;

}

.tab.active {
    display: block;
}
.tab {
    display: none;
}

#dark-mode {
    display: inline-block;
    margin: 20px auto 20px;
    width: 105px;
}


/* #start-work-interval { */
/*     padding: 0; */
/* } */


/* Workout List */
.workout-list {
    font-size: 1rem;

    --workout--name-font-size: 1.4em;
    --workout--type-font-size: 1.4em;
    --workout--duration-font-size: 1.4em;
    --workout--description-font-size: 1.4em;
    --inner-max-width: 470px;

    text-align: center;
}

.workout {
    display: block;
    padding: 1.5em 1.5em;
}
.workout--short-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    max-width: var(--inner-max-width);
    margin: 0 auto;
    text-align: left;
    cursor: pointer;
}

.workout--name {
    font-size: var(--workout--name-font-size);
    width: 50%;
}

.workout--type {
    font-size: var(--workout--type-font-size);
    width: 20%;
    min-width: 100px;
    font-weight: bold;
}

.workout--duration {
    font-size: var(--workout--duration-font-size);
    width: 15%;
    min-width: 60px;
    color: var(--gray);
}

.workout--full-info {
    display: none;
}

.workout--description {
    font-size: var(--workout--description-font-size);
    max-width: var(--inner-max-width);
    margin: 0 auto;
    line-height: 1.4em;
    padding: 1.5em 0 0.5em;
    text-align: left;
}

/* Device Chooser popup */
#device-chooser {
    display: none;
    position: absolute;
    top: 43px;
    left: 10px;
    right: 10px;
    height: 320px;
    padding: 5px 0px 48px;
    color: #444;
    background: var(--white);
    box-shadow: 1px 2px 4px 0px rgba(0,0,0, 0.2);
    border-radius: 3px;
    border: 1px solid #ddd;
    z-index: 4;
}
.device-chooser-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 10px 6px;
    padding: 0 10px;
    height: 48px;
    border-bottom: 1px solid #ddd;
}
.device-connection-type {
    width: 50px;
}
.device-number {
    min-width: 120px;
}
.device-type {}
.device-chooser-bootom-bar {
    position: absolute;
    height: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.device-chooser-bootom-bar .status {
    margin: 0 20px;
}
.chooser-btns {
    margin: 0 20px;
}

/* Settings Page */
#settings-page {
    font-size: 1rem;
    --inner-max-width: 480px;
}

.settings-tiles--cont {
    display: flex;
    max-width: var(--inner-max-width);
    margin: 0px auto;
}

.settings-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 120px;
    padding: 5px 5px;
    margin: 10px auto;

    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--white-opacity-01);
}

.settings-tile--label {
    display: block;
    /* margin: 9px auto 5px; */
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
}

.settings-tile--input {
    font-size: 3em;
    height: 40px;
    /* margin: 5px auto; */
    width: 100%;
    font-weight: bold;
    text-align: center;

    color: var(--white);
    background-color: var(--dark);
    border: none;
}

#ftp-value {
    color: var(--yellow);
}

.settings-tile--btn {
    /* margin: 5px auto; */
    /* padding: 0 14px; */
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    height: 30px;

    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    /* font-family: sans-serif; */
    /* border-radius: 3px; */
    /* -webkit-transition: all 0.2s ease-in-out 0s; */
    /* transition: all 0.2s ease-in-out 0s; */
}



.settings-btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    margin: 0 auto 10px;
}

.settings-switch-btn-cont {
    margin: 10px auto;
}

.settings-switch-bnt {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 70px; */
    width: 120px;
    height: 40px;
    padding: 4px 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    /* border: 1px solid var(--white-opacity-01); */
    border-radius: 50%;
    cursor: pointer;
}

.row-border {
    border-top: 1px solid var(--white-opacity-01);
}

.settings-card {
}

.settings-card-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 5px 5px;
    /* max-width: 480px; */
    margin: 10px auto;
    text-align: center;
}
.settings-card .switch {
    /* padding-left: 0; */
}
.device-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
}
.settings-card .t2 {
    font-size: 12px;
    /* font-weight: bold; */
    letter-spacing: 0px;
}
.device-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
    width: 480px;
    max-width: 100%;
    padding: 1.4em 0 0;
}
.protocol-switch {
    justify-self: flex-start;
    width: 40px;
    height: 40px;
}
.protocol-switch .icon {
    fill: #fff;
}
.source-switch {
    display: block;
    color: var(--gray);
    cursor: pointer;
}
.source-switch.active {
    color: #fff;
}
.info-cell {
    padding: 0 5px;
    min-width: 55px;
}
.info-cell h3 {
    font-size: 10px;
    line-height: 12px;
    /* text-transform: uppercase; */
}
.info-cell-value{
    font-size: 12px;
    font-weight: bold;
}

/* APP CONNECTIONS */
.app-connections {
    margin: 30px auto;
}

.app-connection {
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 10px;
}

.app-connection--icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.app-connection--heading {
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
}

.app-connection--content {
}

/* APP CONNECTIONS */
#about {
    font-size: 1em;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px 10px;
}

#about .row {
    margin: 5px auto;
}

.license {
    letter-spacing: 1px;
}



/* IPHONE 5/SE */
@media all
and (max-width: 340px)
and (max-height: 620px) {
    /* Home Page MQ */
    #home-page-wrapper {
        grid-template-rows: 40px 2fr 1fr 1fr 70px 80px;
    }

    .data-tiles {
        --data-tile--heading-margin: 0 auto 0.4em;
    }

    .mode-selector {
        margin: 1em auto;
    }

    .fixed-bottom {
        --controls-height: 4em;
        --menu-height: 4em;
        --fb-total-height: 8em;
    }

}

/* IPHONE 6/7/8 Plus */
@media all
and (min-width: 414px)
and (min-height: 730px) {
    /* Home Page MQ */
    .data-tiles {
        font-size: 1.2rem;
    }

}

/* Small Tablets, Laptop (split screen) */
@media all
and (min-width: 600px)
and (min-height: 600px) {
/* and (min-height: 1024) */
    /* Home Page MQ */
    .data-tiles {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 50% 50%;
        justify-items: center;
        align-items: center;
    }

    #data-tile--power-avg {
        display: block;
        grid-area: 1 / 1 / 1 / 1;
    }
    #data-tile--power {
        grid-area: 1 / 2 / 1 / 2;
    }
    #data-tile--interval-time {
        grid-area: 1 / 3 / 1 / 3;
    }
    #data-tile--heart-rate {
        grid-area: 1 / 4 / 1 / 4;
    }
    #data-tile--slope {
        display: block;
        grid-area: 2 / 1 / 2 / 1;
    }
    #data-tile--target {
        grid-area: 2 / 2 / 2 / 2;
    }
    #data-tile--elapsed-time {
        grid-area: 2 / 3 / 2 / 3;
    }
    #data-tile--cadence {
        grid-area: 2 / 4 / 2 / 4;
    }
    #data-tile--speed {
        grid-area: 1 / 5 / 1 / 5;
    }
    #data-tile--distance {
        grid-area: 2 / 5 / 2 / 5;
    }

    .data-tile-small--unit {
        display: none;
    }
}

/* IPad, Galaxy Tab S, Portrait */
@media all
and (min-width: 768px)
and (min-height: 1024px)
and (orientation: portrait) {
    /* Home Page MQ */
    #home-page-wrapper {
        grid-template-rows: 50px 2.5fr 1fr 1fr 108px 100px;
    }

    .data-tiles {
        font-size: 2rem;

        --data-tile-small--heading-font-size: 0.8em;
        --data-tile-small--value-font-size: 2em;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }

    #data-tile--power-avg {
        display: block;
        grid-area: 3 / 1 / 3 / 4;
    }
    #data-tile--power {
        grid-area: 1 / 1 / 1 / 5;
    }
    #data-tile--interval-time {
        grid-area: 1 / 5 / 1 / 9;
    }
    #data-tile--heart-rate {
        grid-area: 1 / 9 / 1 / 13;
    }
    #data-tile--slope {
        display: block;
        grid-area: 3 / 4 / 3 / 7;
    }
    #data-tile--target {
        grid-area: 2 / 1 / 2 / 5;
    }
    #data-tile--elapsed-time {
        grid-area: 2 / 5 / 2 / 9;
    }
    #data-tile--cadence {
        grid-area: 2 / 9 / 2 / 13;
    }
    #data-tile--speed {
        grid-area: 3 / 7 / 3 / 10;
    }
    #data-tile--distance {
        grid-area: 3 / 10 / 3 / 13;
    }

    .data-tile-small--unit {
        display: none;
    }


    .graph--heading {
        font-size: 1.2em;
        line-height: 2em;
    }

    #targets {
        --number-input-height: 4rem;
        --mode-selector-margin: 1.7em auto;
    }

}

/* IPad, Lanscape */
@media only screen
and (min-width: 1024px)
and (min-height: 768px) {
    /* Home Page MQ */
    #home-page-wrapper {
        grid-template-rows: 50px 2fr 1fr 1fr 88px 100px;
    }

    .data-tiles {
        font-size: 1.6rem;
    }
}

/* IPad Pro, Portrait */
@media all
and (min-width: 1024px)
and (min-height: 1366px) {
    /* Home Page MQ */
    #home-page-wrapper {
        grid-template-rows: 50px 2.5fr 1fr 1fr 108px 100px;
    }

    .data-tiles {
        font-size: 2.7rem;
    }

    .graph--heading {
        font-size: 1.2em;
        line-height: 2em;
    }

    #targets {
        --number-input-height: 4rem;
        --mode-selector-margin: 1.7em auto;
    }
}


/* IPad Pro, Landscape */
@media only screen
and (min-width: 1360x)
and (min-height: 1020px)
and (orientation: landscape) {
    /* Home Page MQ */

    .data-tiles {
        font-size: 2.7rem;
    }
}






/* Macbook Air, regular */
@media only screen
and (min-width: 1280px)
and (min-height: 650px) {
}

/* Macbook Air, fullscreen */
@media only screen
and (min-width: 1200px)
and (min-height: 600px) {
    .data-tiles {
        font-size: 2rem;
        --data-tile--heading-font-size: 0.8em;
        --data-tile-small--heading-font-size: 0.8em;
        --data-tile--heading-margin: 0 auto 0.5em;
    }
}

/* Macbook Air, fullscreen */
@media only screen
and (min-width: 1360px)
and (min-height: 700px) {
    .data-tiles {
        font-size: 2.4rem;
        /* --data-tile--heading-font-size: 0.8em; */
        /* --data-tile-small--heading-font-size: 0.8em; */
        /* --data-tile--heading-margin: 0 auto 0.5em; */
    }
}





@media only screen
and (min-width: 1600px)
and (min-height: 800px) {
    .data-tiles {
        font-size: 2.6rem;
    }
}


@media only screen
and (min-width: 1800px)
and (min-height: 850px) {
    .data-tiles {
        font-size: 3rem;
    }
}

@media only screen
and (min-width: 1900px)
and (min-height: 900px) {
    .data-tiles {
        font-size: 3.2rem;
    }
}

@media only screen
and (min-width: 2400px)
and (min-height: 1200px) {
    #home-page-wrapper {
        grid-template-rows: 60px 2.5fr 1fr 1fr 138px 160px;
    }

    .switch--label {
        font-size: 1.5rem;
    }

    .data-tiles {
        font-size: 4.5rem;
    }

    .graph--heading {
        font-size: 1.8em;
        line-height: 2.5em;
    }

    #targets {
        font-size: 1.4rem;
        --number-input-height: 6rem;
        --mode-selector-margin: 1.5em auto;
        --inner-max-width: 500px;
        --mode-selector-padding: 0 1em;
    }

    .fixed-bottom {
        font-size: 1.6rem;
    }

    .watch {
        padding: 1em;
    }
    #workout-name {
        line-height: 2em;
    }
}

@media only screen
and (min-width: 2500px)
and (min-height: 1400px) {
}

/* IPhone X, landscape */
@media only screen
and (max-height: 414px)
and (max-width: 900px)
and (orientation: landscape) {

    #home-page-wrapper {
        display: grid;
        grid-template-columns: 50px 1fr 1fr;
        grid-template-rows: 2fr 1fr 50px;
    }

    page-group {
        display: block;
        padding-right: 100px;
    }

    #home-page .page-header {
        grid-row-start: 1;
        grid-row-end: -1;

        grid-column-start: 1;
        grid-column-end: 1;

        flex-direction: column;
    }

    .switch--indicator {
        margin: 0;
    }

    .switch--label {
        display: none;
    }

    .data-tiles {
        font-size: 1.4rem;

        grid-area: 1 / 2 / 2 / 4;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        justify-content: center;
        justify-items: center;
        align-items: center;

        --data-tile--heading-margin: 0 auto 0.5em;
    }

    #data-tile--power-avg {
        display: none;
    }
    #data-tile--power {
        grid-area: 1 / 1 / 1 / 2;
    }
    #data-tile--interval-time {
        grid-area: 1 / 2 / 1 / 3;
    }
    #data-tile--heart-rate {
        grid-area: 1 / 3 / 1 / 4;
    }
    #data-tile--slope {
        display: none;
    }
    #data-tile--target {
        grid-area: 2 / 1 / 2 / 2;
    }
    #data-tile--elapsed-time {
        grid-area: 2 / 2 / 2 / 3;
    }
    #data-tile--cadence {
        grid-area: 2 / 3 / 2 / 4;
    }
    #data-tile--speed {
        display: none;
    }
    #data-tile--distance {
        display: none;
    }

    #graph-power {
        display: none;
    }

    #graph-workout {
        grid-area: 2 / 2 / 3 / 4;
    }

    #targets {
        grid-area: 3 / 2 / 4 / 4;
        --mode-selector-margin: 1em auto;
        --mode-selector-padding: 0 1em;
        padding: 0 0em;
    }

    .targets--cont {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        max-width: none;
        min-height: 100%;
    }

    .tab-btn-group {
        width: 50%;
        padding: 0 0 0 1em;
    }

    tab-group {
        width: 50%;
        padding: 0 1em 0 0em;
    }

    .fixed-bottom {
        --controls-height: 100vh;
        --menu-height: 100vh;
        --fb-total-height: 100vh;

        grid-area: 1 / 4 / 3 / 5;

        display: flex;
        top: 0;
        right: 0;
        width: 100px;
    }

    .controls {
        width: 40%;
    }

    .dark-theme .controls {
        background-color: var(--chrome);
    }

    .menu {
        width: 60%;
        background-color: var(--chrome);
    }

    .watch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 100vh;
        padding: 0;
    }

    .menu--row {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 100vh;
    }

    #workout-name {
        display: none;
    }
}

/* DOCK MOCK (wide and very short) */
@media only screen
and (max-height: 300px) {

    #home-page-wrapper {
        display: grid;
        grid-template-columns: 50px 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    page-group {
        display: block;
        padding-right: 120px;
    }

    #home-page .page-header {
        grid-area: 1 / 1 / -1 / 1;
        flex-direction: column;
    }

    .switch--indicator {
        margin: 0;
    }

    .switch--label {
        display: none;
    }

    .line {
        display: none;
    }

    /* Data views */
    .data-tiles {
        --data-tile--heading-margin: 0 auto 0.5em;

        grid-area: 1 / 3 / -1 / 4;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 50%;

        justify-items: center;
        align-items: center;

        border-right: 1px solid var(--white-opacity-01);
        border-left: 1px solid var(--white-opacity-01);
    }

    #data-tile--power-avg {
        display: none;
        /* grid-area: 1 / 1 / 1 / 2; */
    }
    #data-tile--power {
        grid-area: 1 / 1 / 1 / 2;
    }
    #data-tile--interval-time {
        grid-area: 1 / 2 / 1 / 3;
    }
    #data-tile--heart-rate {
        grid-area: 1 / 3 / 1 / 4;
    }
    #data-tile--slope {
        display: none;
        /* grid-area: 2 / 1 / 2 / 2; */
    }
    #data-tile--target {
        grid-area: 2 / 1 / 2 / 2;
    }
    #data-tile--elapsed-time {
        grid-area: 2 / 2  / 2 / 3;
    }
    #data-tile--cadence {
        grid-area: 2 / 3 / 2 / 4;
    }
    #data-tile--speed {
        display: none;
        /* grid-area: 1 / 5 / 1 / 6; */
    }
    #data-tile--distance {
        display: none;
        /* grid-area: 2 / 5 / 2 / 6; */
    }

    .data-tile-small--unit {
        display: none;
    }

    #graph-workout {
        grid-area: 1 / 2 / -1 / 3;
    }

    #graph-power {
        grid-area: 1 / 4 / 2 / 5;
    }

    #targets {
        --mode-selector-padding: 0 1em;
        --mode-selector-margin: 1em auto;

        grid-area: 2 / 4 / 3 / 5;
    }

    .fixed-bottom {
        --controls-height: 100vh;
        --menu-height: 100vh;
        --fb-total-height: 100vh;

        display: flex;
        top: 0;
        right: 0;
        width: 120px;
   }

    .controls {
        width: 50%;
    }

    .dark-theme .controls {
        background-color: var(--chrome);
    }

    .menu {
        width: 50%;
        background-color: var(--chrome);
    }

    .watch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 100vh;
        padding: 0;
    }

    .menu--row {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 100vh;
    }

    #workout-name {
        display: none;
    }
}

@media only screen
and (max-height: 300px)
and (min-width: 1200px) {

    #home-page-wrapper {
        grid-template-columns: 50px 1fr 2fr 1fr;
    }

    .data-tiles {
        grid-template-columns: repeat(5, 20%);
    }

    #data-tile--power-avg {
        display: block;
        grid-area: 1 / 1 / 1 / 2;
    }
    #data-tile--power {
        grid-area: 1 / 2 / 1 / 3;
    }
    #data-tile--interval-time {
        grid-area: 1 / 3 / 1 / 4;
    }
    #data-tile--heart-rate {
        grid-area: 1 / 4 / 1 / 5;
    }
    #data-tile--slope {
        display: block;
        grid-area: 2 / 1 / 2 / 2;
    }
    #data-tile--target {
        grid-area: 2 / 2 / 2 / 3;
    }
    #data-tile--elapsed-time {
        grid-area: 2 / 3  / 2 / 4;
    }
    #data-tile--cadence {
        grid-area: 2 / 4 / 2 / 5;
    }
    #data-tile--speed {
        display: block;
        grid-area: 1 / 5 / 1 / 6;
    }
    #data-tile--distance {
        display: block;
        grid-area: 2 / 5 / 2 / 6;
    }

}

@media only screen
and (max-height: 300px)
and (min-width: 1600px) {
    .data-tiles {
        font-size: 1.3rem;
        --data-tile--heading-margin: 0 auto 0em;
    }
}


@media only screen
and (max-height: 300px)
and (min-width: 1900px) {

    .data-tiles {
        font-size: 1.6rem;
        --data-tile--heading-font-size: 0.8em;
        --data-tile-small--heading-font-size: 0.8em;
    }
}
